<table class="floor-layout">
    <tr>
        <td><div class="seat" id="F1">F1</div></td>
        <td><div class="seat" id="F2">F2</div></td>
        <td></td>
        <td><div class="seat" id="E1">E1</div></td>
        <td><div class="seat" id="E2">E2</div></td>
        <td></td>
        <td><div class="seat" id="D1">D1</div></td>
        <td><div class="seat" id="D2">D2</div></td>
    </tr>
    <tr>
        <td><div class="seat" id="F3">F3</div></td>
        <td><div class="seat" id="F4">F4</div></td>
        <td></td>
        <td><div class="seat" id="E3">E3</div></td>
        <td><div class="seat" id="E4">E4</div></td>
        <td></td>
        <td><div class="seat" id="D3">D3</div></td>
        <td><div class="seat" id="D4">D4</div></td>
    </tr>
    <tr>
        <td><div class="seat" id="F5">F5</div></td>
        <td><div class="seat" id="F6">F6</div></td>
        <td></td>
        <td><div class="seat" id="E5">E5</div></td>
        <td><div class="seat" id="E6">E6</div></td>
        <td></td>
        <td><div class="seat" id="D5">D5</div></td>
        <td><div class="seat" id="D6">D6</div></td>
    </tr>
</table>
