<table class="floor-layout">
    <tr>
        <td><div class="seat" id="B1">B1</div></td>
        <td><div class="seat" id="B2">B2</div></td>
        <td><div class="seat" id="B3">B3</div></td>
        <td><div class="seat" id="B4">B4</div></td>
        <td><div class="seat" id="B5">B5</div></td>
        <td><div class="seat" id="B6">B6</div></td>
        <td><div class="seat" id="B7">B7</div></td>
        <td><div class="seat" id="B8">B8</div></td>
        <td><div class="seat" id="B9">B9</div></td>
        <td><div class="seat" id="B10">B10</div></td>
    </tr>

    <tr>
        <td><div class="seat" id="C1">C1</div></td>
        <td><div class="seat" id="C2">C2</div></td>
        <td><div class="seat" id="C3">C3</div></td>
        <td><div class="seat" id="C4">C4</div></td>
        <td><div class="seat" id="C5">C5</div></td>
        <td><div class="seat" id="C6">C6</div></td>
        <td><div class="seat" id="C7">C7</div></td>
        <td><div class="seat" id="C8">C8</div></td>
        <td><div class="seat" id="C9">C9</div></td>
        <td><div class="seat" id="C10">C10</div></td>
    </tr>
    
    <tr>
        <td><div class="seat" id="D1">D1</div></td>
        <td><div class="seat" id="D2">D2</div></td>
        <td><div class="seat" id="D3">D3</div></td>
        <td><div class="seat" id="D4">D4</div></td>
        <td><div class="seat" id="D5">D5</div></td>
        <td><div class="seat" id="D6">D6</div></td>
        <td><div class="seat" id="D7">D7</div></td>
        <td><div class="seat" id="D8">D8</div></td>
        <td><div class="seat" id="D9">D9</div></td>
        <td><div class="seat" id="D10">D10</div></td>
    </tr>
</table>
