{!-- <div class="nav">
    <div class="header">
        <img id="logo" src="https://img.icons8.com/?size=100&id=57152&format=png&color=C0E56B">
        <div class="page-title">
            <div class="poppins-bold">Room</div>
            <div class="poppins-bold" style="color: rgb(192, 235, 106);">Reservation</div>
        </div>
    </div>
    <ul class="nav-options">
        <li class="nav-option" id="home"><a class="navlink-active">Home</a></li>
        <li class="nav-option" id="search">
            <div class="search">
                <input type="text" id="search">
                <button class="search-button">
                    <img class="search-icon" src="https://img.icons8.com/?size=100&id=59878&format=png&color=48534F">
                </button>
            </div>
        </li>
    </ul>
</div> --}