        <div class="nav">
            <div class="header">
                <img id="logo" src="https://img.icons8.com/?size=100&id=57152&format=png&color=C0E56B">
                <div class="page-title">
                    <div class="poppins-bold">Room</div>
                    <div class="poppins-bold" style="color: rgb(192, 235, 106);">Reservation</div>
                </div>
            </div>
        </div>

        <div class="login-container">
            <div class="login-title poppins-bold">Admin Login Page</div>
            <form name="read-admin" action="read-admin" method="post">
                <div class="form-group">
                    <input input name="adminemail" type="email" placeholder="Email Address" required></input>
                </div>
                <div class="form-group">
                    <input name="adminpass" type="password" placeholder="Password" required></input>
                </div>
                <div class="form-group-button">
                    <!-- <input type="submit"><a href = "/home">Login</button></a> -->
                    <input type="submit" value="submit"></input>
                </div>
            </form>
        </div>
