    <div class="nav">
        <div class="header">
            <img id="logo" src="https://img.icons8.com/?size=100&id=57152&format=png&color=C0E56B">
            <div class="page-title">
                <div class="poppins-bold">Room</div>
                <div class="poppins-bold" style="color: rgb(192, 235, 106);">Reservation</div>
            </div>
        </div>
    </div>

    <div class="login-container">
        <div class="login-title poppins-bold">Login Page</div>
        <div class="login-options">
            <div class="login-option">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png" alt="Admin">
                <button type="submit"><a href = "/admin_login">Login as Admin</button></a>
            </div>
            <div class="login-option">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK-ZeN2rVBNQ2p03OQNSDtjz9b9OzzTR7KGg&s" alt="Student">
                <button type="submit"><a href = "/student_login">Login as Student</button></a>
            </div>
        </div>
        <div class="create-account">
            Don't have an account yet? <a href="/registration">Create an Account</a>
        </div>
    </div>