
        <div class="nav">
            <div class="header">
                <img id="logo" src="https://img.icons8.com/?size=100&id=57152&format=png&color=C0E56B">
                <div class="page-title">
                    <div class="poppins-bold">Room</div>
                    <div class="poppins-bold" style="color: rgb(192, 235, 106);">Reservation</div>
                </div>
            </div>
        </div>

        <div class="registration-container">
            <div class="registration-title poppins-bold">Registration Page</div>
            <form name="create-user" action="create-user" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input name="firstName" type="text" placeholder="First Name" required> </input>
                    <input name="lastName" type="text" placeholder="Last Name" required> </input>
                </div>
                <div class="form-group">
                    <input name="email" type="email" placeholder="Email Address" required> </input>
                    <input name="program" type="text" placeholder="Program" required> </input>
                </div>
                <div class="form-group">
                    <input name="pass" type="password" placeholder="Password" required> </input>
                    <input type="file" id="profileImage" name="profileImage" class="form-input">
                </div>
                <div class="form-group-button">
                  <button type="submit" value="submit"> Create Account</input>
                </div>
            </form>
        </div>