<div class="nav">
  <div class="header">
    <img id="logo" src="https://img.icons8.com/?size=100&id=57152&format=png&color=C0E56B" alt="Logo">
    <div class="page-title">
      <div class="poppins-bold">Room</div>
      <div class="poppins-bold" style="color: rgb(192, 235, 106);">Reservation</div>
    </div>
  </div>
  <ul class="nav-options">
    <li class="nav-option"><a href="/admin_home" style="color:white">HOME</a>
      <a href="/credits" style="color:white">LOG-OUT</a>
    </li>
    <li class="nav-option" id="search">
      <div class="search">
        <input type="text" id="search">
        <button class="search-button">
          <img class="search-icon" src="https://img.icons8.com/?size=100&id=59878&format=png&color=48534F" alt="Search Icon">
        </button>
      </div>
    </li>
  </ul>
</div>

<div class="page-text"><h2>Delete Reservation</h2></div>

<div class="add-reservations-container">
    <div class="add-reservations-menu">
        <p class="bot"><a href="/tech_add_reservation">Add Reservations</a></p>
        <p class="bot"><a href="/tech_del_reservation">Delete Reservations</a></p>
    </div>
    <div class="del-reservations-search">
      
    </div>
</div>
